
.container {
    padding: 16px;
  }

.btnSection{
  display:flex;
  flex-direction: row;
  justify-content: space-around
}

.btn-gradient{

  color: rgba(var(--text-color));
  border: 2px double transparent;
      background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box; 
  color:whitesmoke
}
  .error{
    color: RGB(151, 6, 45);
  }

button {
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin:10px;
  /* width: 70px; */
  /* height: 30px; */
  }
  button:hover {
    opacity: 0.6;
  }
  .container {
    border: 3px solid RGB(178, 81, 125);
    background-color: RGB(10, 15, 21);
    float: left;
  }

  .inputLogin{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-weight: bold;
    border: 1px solid rgb(47, 38, 38);
    box-sizing: border-box;
    color: RGB(178, 81, 125);
    background-color: rgb(230, 200, 200);
  }
  label{
      color: RGB(22, 246, 25);
  }